<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="plantilla/template :: head">

</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
    <div class="card bg-light">
        <div class="card-header bg-dark text-light" th:text="${titulo}"></div>
        <div class="card-body">
            <form method="post" th:action="@{/views/clientes/save}" th:object="${cliente}">
                <div class="for-group row">

                    <input th:field="*{id}" type="hidden"/>
                    <label class="col-md-2" for="nombres">Nombres</label>
                    <input class="form-control-sm col-md-6" id="nombres" placeholder="Nombres del Cliente" th:field="*{nombres}"
                           type="text">
                    <small></small>
                </div>

                <div class="for-group row">
                    <label class="col-md-2" for="apellidos">Apellidos</label>
                    <input class="form-control-sm col-md-6" id="apellidos" placeholder="Apellidos del Cliente" th:field="*{apellidos}"
                           type="text">
                    <small></small>
                </div>

                <div class="for-group row">
                    <label class="col-md-2" for="telefono">Telefono</label>
                    <input class="form-control-sm col-md-6" id="telefono" placeholder="Telefono del Cliente" th:field="*{telefono}"
                           type="text">
                    <small></small>
                </div>

                <div class="for-group row">
                    <label class="col-md-2" for="email">Email</label>
                    <input class="form-control-sm col-md-6" id="email" placeholder="Email del Cliente" th:field="*{email}"
                           type="email">
                    <small></small>
                </div>

                <div class="for-group row">
                    <label class="col-md-2" for="ciudad">Ciudad</label>
                    <select class="form-control-sm col-md-6" id="ciudad" th:field="*{ciudad}">
                        <option th:each="ciudad:${ciudades}"
                                th:text="${ciudad.ciudad}"
                                th:value="${ciudad.id}"/>
                    </select>
                </div>

                <div class="card-footer bg-dark">
                    <input class="btn btn-primary btn-sm" type="submit" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>